<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.auth0.auth0_flutter">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.auth0.android.provider.RedirectActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="elkdanger.eu.auth0.com"
                    android:pathPrefix="/android/${applicationId}/callback"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
    </application>
</manifest>
